@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://ui.shadcn.com/docs/theming#list-of-variables */
/* Colors copied into theme.ts */

:root {
  --background: rgba(232, 235, 237, 1);
  --foreground: rgba(51, 51, 51, 1);
  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(51, 51, 51, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(51, 51, 51, 1);
  --primary: rgba(223, 96, 53, 1);
  --primary-foreground: rgba(255, 255, 255, 1);
  --secondary: rgba(47, 75, 121, 1);
  --secondary-foreground: rgba(255, 255, 255, 1);
  --muted: rgba(249, 250, 251, 1);
  --muted-foreground: rgba(107, 114, 128, 1);
  --accent: rgba(214, 228, 240, 1);
  --accent-foreground: rgba(30, 58, 138, 1);
  --destructive: rgba(239, 68, 68, 1);
  --destructive-foreground: rgba(255, 255, 255, 1);
  --border: rgba(204, 204, 204, 1);
  --input: rgba(244, 245, 247, 1);
  --ring: rgba(224, 93, 56, 1);
  --chart-1: rgba(115, 153, 191, 1);
  --chart-2: rgba(225, 111, 65, 1);
  --chart-3: rgba(213, 68, 80, 1);
  --chart-4: rgba(226, 177, 70, 1);
  --chart-5: rgba(60, 76, 118, 1);
  --sidebar: rgba(221, 223, 226, 1);
  --sidebar-foreground: rgba(51, 51, 51, 1);
  --sidebar-primary: rgba(224, 93, 56, 1);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1);
  --sidebar-accent: rgba(214, 228, 240, 1);
  --sidebar-accent-foreground: rgba(30, 58, 138, 1);
  --sidebar-border: rgba(229, 231, 235, 1);
  --sidebar-ring: rgba(224, 93, 56, 1);
}

.dark {
  --background: rgba(26, 26, 26, 1);
  --foreground: rgba(229, 229, 229, 1);
  --card: rgba(32, 32, 32, 1);
  --card-foreground: rgba(229, 229, 229, 1);
  --popover: rgba(32, 32, 32, 1);
  --popover-foreground: rgba(229, 229, 229, 1);
  --primary: rgba(223, 96, 53, 1);
  --primary-foreground: rgba(255, 255, 255, 1);
  --secondary: rgba(40, 65, 103, 1);
  --secondary-foreground: rgba(229, 229, 229, 1);
  --muted: rgba(42, 42, 42, 1);
  --muted-foreground: rgba(128, 128, 128, 1);
  --accent: rgba(42, 54, 86, 1);
  --accent-foreground: rgba(191, 219, 254, 1);
  --destructive: rgba(239, 68, 68, 1);
  --destructive-foreground: rgba(255, 255, 255, 1);
  --border: rgba(53, 53, 53, 1);
  --input: rgba(48, 48, 48, 1);
  --ring: rgba(224, 93, 56, 1);
  --chart-1: rgba(133, 166, 199, 1);
  --chart-2: rgba(225, 111, 65, 1);
  --chart-3: rgba(213, 68, 80, 1);
  --chart-4: rgba(226, 177, 70, 1);
  --chart-5: rgba(60, 76, 118, 1);
  --sidebar: rgba(31, 31, 31, 1);
  --sidebar-foreground: rgba(229, 229, 229, 1);
  --sidebar-primary: rgba(224, 93, 56, 1);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1);
  --sidebar-accent: rgba(42, 54, 86, 1);
  --sidebar-accent-foreground: rgba(191, 219, 254, 1);
  --sidebar-border: rgba(53, 53, 53, 1);
  --sidebar-ring: rgba(224, 93, 56, 1);
}

@layer base {
  * {
    @apply border-border;
  }
}
