/* https://ui.shadcn.com/docs/theming#list-of-variables */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;

  --card: #fafafa;
  --card-foreground: #000000;

  --popover: #ffffff;
  --popover-foreground: #000000;

  --primary: #007bff;
  --primary-foreground: #ffffff;

  --secondary: #5a58d5;
  --secondary-foreground: #ffffff;

  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --destructive: #ef4343;
  --destructive-foreground: #ffffff;

  --border: #e6e6e6;
  --input: #e6e6e6;
  --ring: #007bff;
}

@layer base {
  * {
    @apply border-border;
  }
}
